p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.container {
  position: relative;
  width: 640px;
  height: 600px;
  font-size: 20px;
  background-color: white;
  left: 25%;

}
body {
/*   background-color: lightblue; */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #BFFFFF;
  background-image: linear-gradient(#BFFFFF, #58ACC3);
  box-shadow: 0 2px 4px #787878;
  height: 45px;
  position: relative;
  margin: 0 0 10px 0;
}
.p-header {
  padding: 10px 28px 0 28px;
}
nav {
  background-color: #F3FEE5;
  background-image: linear-gradient(#F3FEE5, #DEF7B9);
  box-shadow: 0 0 6px #4E8259;
  position: absolute;
  bottom: 10px;
  margin: 0 3% 0 3%;
  width: 91%;
  height: 28px;
  padding: 0 10px 0 10px;
}
article {
  background-color: #B5D8FD;
  background-image: linear-gradient(#B5D8FD, #5A95CF);
  box-shadow: 0 0 8px #475C7D;
  position: relative;
  width: 450px;
  height: 380px;
  float: left;
  margin: 4px 0 0 0;
}
.p-article {
  padding: 2px 28px 0 28px;
}
section {
  background-color: #FFC48A;
  background-image: linear-gradient(#FFC48A, #FCA546);
  box-shadow: 1px 0 6px #6E5B46;
  height: 102px;
  margin: 1% 3% 2% 3%;
  padding: 6px 0 0 100px;
}
aside {
  background-color: #DCC9F8;
  background-image: linear-gradient(#DCC9F8, #9A7ABD);
  box-shadow: 0 0 8px #475C7D;
  position: relative;
  height: 376px;
  width: 150px;
  float: right;
  clear: right;
  margin: 4px 0 2px 0;
  padding: 4px 10px 0 10px;
 
}
footer {
  background-color: #BFFFFF;
  background-image: linear-gradient(#BFFFFF, #58ACC3);
  box-shadow: 0 2px 4px #787878;
  position: relative;
  clear: left;
  height: 34px;
  margin: 6px 0 0 0;
  padding: 6px 0 0 26px;
  width: 614px;
  float: left;
  text-align: bottom;
}

